beautifulsoup4
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
facebook-scraper
googlesearch-python
instaloader
opencv-python
pandas  ## kan misschien weg?
python-dotenv
torch
torchvision
torchaudio
twarc